section.wrapper{
    text-align: center;
    position: relative;
}
canvas {
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
    touch-action : none;
    -ms-touch-action: none;
    position: relative;

}

canvas#the_canvas .nipple {
    position: absolute;
    /* Adjust top, left, and other properties as needed */
    /* For example: */
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}